## Testing Method Module
---

In [2]:
#import crowded.method as cr

In [5]:
import sys
sys.path.insert(0, '/Users/pedrohserrano/crowdED/crowded') 
import simulate as sm

In [7]:
total_tasks = 415 
p_hard_tasks = 0.4
df_tasks = sm.Tasks(5).create(total_tasks, p_hard_tasks)
df_tasks.head()

            true_answers label_task  prob_task
task_3D9mLp      keyword  easy_task       0.87
task_SiUwLG         howl  easy_task       0.80
task_2N9BCy       armors  easy_task       0.75
task_QuueRh         howl  easy_task       0.87
task_vFNiDy         cost  easy_task       0.86

2) Simulate the workers

In [8]:
total_workers = 40 #50 #30
workers = sm.Workers().create(total_workers)
workers.head()

        prob_worker
hvCFer     0.812735
cbL4vo     0.978559
MqHQq9     0.776642
tZUmRy     0.876443
QQFAGS     0.465056

In [11]:
wpt = 5
df_tw = sm.AssignTasks(df_tasks, workers, wpt).create()
df_tw.head()

       task_id worker_id true_answers label_task  prob_task  prob_worker
0  task_3D9mLp    LzXHQP      keyword  easy_task       0.87     0.914539
1  task_3D9mLp    kmvhAH      keyword  easy_task       0.87     0.831751
2  task_3D9mLp    7F7UpH      keyword  easy_task       0.87     0.774354
3  task_3D9mLp    iHJMpb      keyword  easy_task       0.87     0.926534
4  task_3D9mLp    6ALbcn      keyword  easy_task       0.87     0.729401

In [2]:
algorithm = cr.Compute(total_tasks = 100, 
                       total_workers = 40, 
                       p_hard_tasks = 0.1, 
                       p_good_workers = 0.9,
                       answers_key = ["liver", "blood", "lung", "brain", "heart"],
                       p_train_tasks = 0.4,
                       workers_per_task = 7)

In [3]:
p_consensus, a_consensus, tasks_summary, final_table = algorithm.accuracy()

Tasks Answers: ['liver', 'blood', 'lung', 'brain', 'heart']
Tasks to train: 40
Workers Trained: 40
Cutoff:
 Performance: 0.211
 Probability: 0.85
Selected Best Workers: 13
Number of donde Tasks in Stage 1: 11
Original Tasks: 100
Remain Tasks for Stage 2: 89
 Matching Tasks Value: False
Final Stage
 Tasks Re-do: 28
 Tasks Not Done: 60
Number of Tasks in Final Join: 88

 ==== Results ====

Hard Tasks: 10
Easy Tasks: 90
Good Workers: 36
Poor Workers: 4
Number of Tasks under consensus      n = 18
Proportion of Consensus              p = 0.29
Accuracy Consensus                   a = 0.8928571428571428

In [4]:
p_consensus

0.29

In [5]:
a_consensus

0.89285714285714279

In [6]:
tasks_summary.head()

task_id
task_fbb0    1.0
task_cbaa    1.0
task_4d0c    1.0
task_4937    1.0
task_1794    1.0
Name: performance, dtype: float64

In [7]:
final_table.head()

,task_id,worker_id,true_answers,label_task,prob_task,prob_worker,label_worker,prob_answer,worker_answers,performance
0,task_6262,worker_6003,brain,easy_task,0.76,0.87,good_worker,0.7912,liver,0
1,task_6262,worker_9538,brain,easy_task,0.76,0.91,good_worker,0.7816,liver,0
2,task_6262,worker_f871,brain,easy_task,0.76,0.93,good_worker,0.7768,lung,0
3,task_6262,worker_5655,brain,easy_task,0.76,0.93,good_worker,0.7768,liver,0
4,task_6262,worker_0e83,brain,easy_task,0.76,0.99,good_worker,0.7624,liver,0

### Generating the Tasks - Workers Datatable

In [8]:
df_tw.to_csv('df_taskworkers.csv', sep=',', encoding="utf-8")